replicaCount: 2

image:
  repository: nginx
  tag: latest

cpuRequest: 200m
memoryRequest: 256Mi
cpuLimit: 300m
memoryLimit: 512Mi

servicePort: 80

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  cpuUtilization: 60
